/*   h2 {
    margin: 0;
}
*/
/*.gallery {
    box-shadow: 5px 5px 10px grey;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    min-height: 150px;
}

/*.gallery:nth-of-type(2n) {
    flex-direction: row;
}

.gallery:nth-of-type(2n+1) {
    flex-direction: row;
}*/

/*.gallery > img {
    width: 200px;
}

.gallery-1 {
    flex-direction: row;
    justify-content: flex-start;
}

.gallery-2 {
    flex-direction: row;
    justify-content: center;
}

.gallery-3 {
    flex-direction: row;
    justify-content: space-between;
}

.gallery:nth-of-type(1) {
	align-items: flex-start;
}

.gallery:nth-last-of-type(1) {
	align-items: flex-end;
}*/
h2 {
    margin: 0;
}

.gallery {
    box-shadow: 5px 5px 10px grey;
    padding: 20px;
    margin-bottom: 20px;
    min-height: 400px;
    display: flex;
    align-items: center; 
}

.gallery > img {
    width: 200px;
}

.gallery > img:nth-of-type(-n+3) { 
    align-self: flex-start; 
}

.gallery > img:nth-of-type(n+7) { 
    align-self: flex-end; 
}

.photo-1 {
    order: 2; 
}

.photo-2 {
    order: 4;    
}

.city-photo {
    order: -1;
}

.photo-4 {
    order: 5;  
}

.photo-5 {
    order: 6;   
}

.photo-6 {
    order: 7;  
}

.photo-7 {
    order: 8;    
}

.autumn-photo {
    order: 3; 
}

.photo-9 {
    order: 9;     
}

.wrapper {
    height: 200px;
    display: flex;
    align-items: center;
    background-color: rgb(91, 28, 128);
}

.block {
    /*width: 100px;*/
    height: 50px;
    color: #fff;
    font-size: 30px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.special-1 {
	width: 50%;
    background-color: rgb(245, 155, 38);
}

.special-2 {
	width: 300px;
    background-color: rgb(206, 28, 28);
}