body {
    color: rgb(247, 130, 109) ;
}
p {
    color: inherit;
}
span {
   color: initial;
}
.wrap {
	position: relative;
    width: 800px;
    height: 500px;
    background-color: rgb(235, 194, 61);
}
    
.box {
	position: absolute;
	right: 0;
	bottom: 0;
    width: 50px;
    height: 50px;
    background-color: rgb(240, 56, 10);
}  